<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
</body>
<footer>
	<ul>
		<li><a href="/app/home">home</a></li>
		<li><a href="/app/index">index</a></li>
		<li><a href="/app/indexmap">Map</a></li>
		<li><a href="/app/indexmv">ModelAndView</a></li>
		<li><a href="/app">ModelMap</a></li>
		<li><a href="/app/perfil">Perfil</a></li>		
		<li><a href="/app/listar">Listar</a></li>		
		<li>____________________</li>		
		<li><a href="/params/">Params</a></li>
	</ul>
</footer>
</html>